<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="<%= tema %>">

  <h1>Perfil de usuario</h1>

  <p><strong>Nombre:</strong> <%= usuario.nombre %></p>
  <p><strong>Email:</strong> <%= usuario.email %></p>
  <p><strong>Edad:</strong> <%= usuario.edad %></p>
  <p><strong>Ciudad:</strong> <%= usuario.ciudad %></p>

  <p>
  ✨ Gracias por formar parte de Sueños Valenti.
  Este es tu espacio personal para gestionar tus sesiones
  y continuar tu camino de conexión y crecimiento interior.
</p>


  <form action="/logout" method="POST">
    <button type="submit">Cerrar sesión</button>
  </form>

  <footer>
  <p>🌿 Sueños V · Espacio de conexión y bienestar</p>
</footer>


</body>
</html>
